@using static Storeroommanagement.Enum.Groups
@using static Storeroommanagement.Enum.Brands
@model StorageModel
<h3>
    add product
</h3>
<form asp-controller="Storage" asp-action="AddProduct" method="post">
    <div class="form-outline mb-4">
    <input type="text" class="form-control" asp-for="Id" disabled/>
    <label class="form-label"asp-for="Id"    >Id</label>
  </div
  ><div class="form-outline mb-4">
    <input type="text" asp-for="Model" class="form-control" />
    <label class="form-label" asp-for="Model">Model</label>
  </div>
  <div class="form-outline mb-4">
    <input type="text"  asp-for="Color" class="form-control" />
    <label class="form-label"  asp-for="Color">Color</label>
  </div>
  <div class="form-outline mb-4">
      <select class="form-select" aria-label="Default select example" asp-for="Brands" asp-items="Html.GetEnumSelectList<BrandEnum>()">
        </select> 
        <label class="form-label"  asp-for="Brands">Brand</label>
  
</div>
 <div class="form-outline mb-4">
     <input type="text"  asp-for="Groupsenum" class="form-control" disabled />
        <label class="form-label"  asp-for="Groupsenum">Mobile</label>
  
</div>
<div>
     
<input type="submit" class="btn btn-primary" >
</div>


</form>

