@model StorageModel
<div class="alert alert-warning alert-dismissible fade show">
    <strong>delete!</strong>done.
    <a type="button" class="btn-close"  asp-controller="Storage" asp-action="ShowProduct"   ></a>
</div>